:root{
    --primary: aliceblue;
    --secondary: rgb(154,138,120);
    --hover: rgb(207,200,192);
}

body{
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
    color: var(--primary);
}

/* Helper System */

.bg{
    border: 1px solid red;
}

ul,li{list-style-type: none;}

a{
    text-decoration: none;
    color: var(--primary);
}

a:hover{
    color: var(--hover) !important;
}

.btn-call{
    background-color: transparent;
    text-transform: uppercase;
    color: var(--primary);
    padding: 7px 28px;
    border: 1px solid var(--primary);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-right: 25px;
    margin-left: 8px;
    font-size: 15px;
}

.btn-call:hover{
    transform: scale(0.95);
    border: 1px solid var(--hover);
    color: var(--hover);
}

.vh-50{
    height: 50vh;
}

.vh-75{
    height: 75vh;
}

.p-6{
    padding: 5rem;
}

.text-gold{
    color: var(--secondary);
}

.text-aliceblue{
    color: aliceblue;
}

.text-gold{
    color: var(--secondary);
}

.bg-gold{
    background-color: var(--secondary);
}

.w-5{
    width: 5.5%;
}

/* Navigation bar */

#bg-header{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.4) 0%,rgba(0, 0, 0, 0.5) 80%), url(media/header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-brand span{
    display: block;
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    margin: 0px 25px;
}

@media screen and (max-width: 768px) {
    .navbar-brand span{
        margin: 0px 7px;
    }

    .navbar{
        background-color: rgb(38, 38, 38);
        padding: 2rem 0px;
    }

    .nav-item a{
        border-bottom: 1px solid var(--primary);
        margin-bottom: 6px !important;
    }
}

.navbar-toggler{
    background-color: aliceblue;
}

.navbar-toggler:focus{
    box-shadow: 0px 0px 0px 3px var(--secondary);
}

.nav-item a{
    font-size: 14px;
    color: var(--primary);
    text-transform: uppercase;
    margin: 0 8px;
}

/* header */

.btn-message{
    background-color: rgb(154, 138, 120);
    color: rgb(38, 38, 38);
    padding: 18px 40px;
    border-radius: 50px;
    margin: 0px 18px;
    display: flex;
    align-items: center;
}

.btn-message:hover{
    background-color: rgba(154, 138, 120, 0.8);
}

@media screen and (max-width: 768px) {
    .btn-message{
        padding: 13px 13px;
        border-radius: 100px;
        margin: 0;
    }
}

.fa-brands{
    margin: 0px 18px;
}

.fixed-social{
    position: fixed;
    bottom: 40px;
    right: 25px;
    left: 18px;
    z-index: 2000;
}

/*  main */

.bg-main{
    background: linear-gradient( rgba(0, 0, 0, 0.9) 90%,rgba(0, 0, 0, 0.9) 90%);
}

.border-custom{
    border: 1px solid var(--secondary);
    padding: 0;
}

/* section service */

.service ul li{
    margin: 5.4px 0;
    list-style-type: disc;
    color: var(--primary);
}

.btn-service{
    text-transform: uppercase;
    background-color: var(--secondary);
    color: rgb(38, 38, 38);
    padding: 20px 60px;
}

@media screen and (max-width: 768px) {
    .btn-service{
        padding: 10px 25px;
    }
}

.btn-service:hover{
    background-color: rgba(154, 138, 120, 0.8);
}

@media screen and (min-width: 768px){
    .chi-siamo{
        width: 50%;
    }
}

.img-svg{
    color: var(--primary);
}

.img-service2{
    height: 650px;
    background-image: url(media/img-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Progetti recenti */
.container-project{
    position: relative;
    width: 310px;
}

@media screen and (max-width: 768px){
    .container-project{
        width: 252px !important;
    }

    .img-project{
        width: 100% !important;
    }

    .img-project2{
        width: 100% !important;
    }

    .img-project3{
        width: 100% !important;
        margin-top: 38px;
    }

    .img-project4{
        width: 100% !important;
    }

    .img-project5{
        margin-top: 38px;
    }
}

.container-project:hover img{
    transform: scale(0.9);
    opacity: 0.6;
}

.img-project{
    display: block;
    height: 400px;
    width: 310px;
    border: 1px solid var(--secondary);
    transition: transform 0.6s ease;
}

.img-project2{
    height: 230px;
    width: 310px;
    border: 1px solid var(--secondary);
    transition: transform 0.6s ease;
}

.img-project3{
    height: 270px;
    width: 320px;
    border: 1px solid var(--secondary);
    transition: transform 0.6s ease;
}

.img-project4{
    height: 370px;
    width: 320px;
    border: 1px solid var(--secondary);
    transition: transform 0.6s ease;
    margin-top: 38px;
}

.img-project5{
    height: 100%;
    width: 100%;
    border: 1px solid var(--secondary);
    transition: transform 0.6s ease;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    visibility: hidden;
    transition: visibility 0.1s ease;
}

.container-project:hover .text {
    visibility: visible;
}

/* Recensioni */

@media screen and (max-width: 768px) {
    .h-title-reviews{
        height: 150px;
    }

    .h-reviews{
        height: 100% !important;
    }
}

.h-reviews{
    height: 400px;
}

/* footer */

.copy{
    font-size: 13px;
}